SECRET_KEY=1131714638dd80d57154725d8c317937
DB_URI="sqlite:///test.db"
EMAIL=xyz@gmail.com
PASSWORD=xyz123
STRIPE_PUBLIC=pk_test_51RXG0PP9PkOnkc6Midu0uHYeERlaUiKB7I6KMChkWVIVxa7NJHxfGHZxtkAQZKGN1lGeKEZLMoA0MOvMNHZhsKYv00jd6R3Gsw
STRIPE_PRIVATE=sk_test_51RXG0PP9PkOnkc6MbJedioezSElNtO506u2rjg59THZ2ELn7bE6zvtcClfVjhJC53nyHZbPWuNqfrFOboFQW3Xvm00mQUOTLGu
ENDPOINT_SECRET=whsec_fa6637cca291e72c147ed535145a36902ba61c0bb9bb65cc831fd332f579ed48
